@font-face {
  font-family: 'arial';
  src: url('../fonts/arial.ttf');
}

body{
	font-family: arial;
	font-size: 13px;
}

h5 , h6 {
	font-size: 13px;
}

.header{
    position: fixed;
    right: 0px;
    left: 0px;
    background: #fff;
    z-index: 999;
    padding-bottom: 10px;
}

.logo-main a {
    
}
.logo-main img {
    width: 100%;
}
.logo-main a {
    /*position: fixed;*/
    top: 0;
    width: auto;
    z-index: 5;
    display: inline-block;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 10px;
    letter-spacing: 6px;
    font-weight: bold;
}
.item img {
    width: 100%;
}
.home-carousel {
    margin-top: 100px;
    margin-bottom: 100px;
}
.home-carousel .item {
	position: relative;
}
.home-carousel .item .item-img {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
}

.home-carousel .item .item-img img{
	width: 100%;
}

.slide-caption {
    width: 100%;
    background-color: red;
}

.slide-caption p {
	position: absolute;
	font-size: 13px;
	top: 142px;
	left: calc(50% + 10px);
	text-align: left!important;
	transform: rotate(90deg);
	width: 100%
}
.owl-dots {
/*     display: none; */
}
.number-nav, .owl-dots {
    display: block;
/*     width: 90%; */
    margin-top: 10px;
    text-align: center;
}
.number-nav a , .owl-dot{
    display: inline-block;
    font-size: 13px;
    color: #000;
    margin-right: 10px;
	text-decoration: none;
}
/*.number-nav a:hover, .number-nav a.active, .number-nav a:focus{*/
.number-nav a.active, .owl-dot.active {
    font-weight: bold;
    text-decoration: none;
	/*font-size: 15px;*/
}
.copyright-area {
    position: fixed;
    right: -110px;
/*    transform: rotate(90deg);*/
transform: rotate(90deg) ;
-webkit-transform: rotate(90deg) ;
-moz-transform: rotate(90deg) ;
-o-transform: rotate(90deg) ;
-ms-transform: rotate(90deg);
    top: 130px;
    font-size: 13px;
}

.copyright-footer-area {
	position: absolute; 
	top: 15px; 
	left: 15px;
}
section.footer {
    position: fixed;
    z-index: 1000;
    width: 100%;
    bottom: 0;
}
.footer .navbar-default{
	background: #fff;
	border: none;
	margin-bottom: 0px;
}
.footer .nav.navbar-nav{
	display: inline-block;
	width: 100%;
}
.footer .nav li a {
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
}	

.footer .nav li:nth-child(5), .footer .nav li:nth-child(4), .footer .nav li:nth-child(3){
	float: right;
}


/*ABOUT PAGE BEGINS*/

.about-area {
    display: inline-block;
    width: 100%;
    margin-top: 15%;
}


/*ABOUT PAGE ENDS*/



/*SHOP PAGE BEGINS*/

.shop {
    text-transform: uppercase;
}
.side-bar {
    margin-bottom: 50px;
    display: inline-block;
    width: auto;
    padding-left: 20px;
}
.side-bar ul {
    list-style: none;
    padding-left: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.shop a{
	text-decoration: none;
}
.shop .item-main .item-detail a h5 {
    margin-bottom: 0px;
    color: #000;
    font-weight: 600;
}
.item-main {
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}

.item-main img {
	background-color: #e6e7e9;
}
.shop a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
/*SHOP PAGE ENDS*/

/*PRODUCTS INNER PAGE BEGINS*/

.product-page {
    margin-top: 100px;
    margin-bottom: 100px;
}
.stuff-size {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    text-decoration: none;
}

.product-detail h5 {
    font-size: 18px;
    margin-bottom: 10px;
	text-transform: uppercase;
}
.stuff-size ul li a {
    color: #000;
    /*font-weight: 600;*/
}

a.purchase-btn {
background: #000;
    display: inline-block;
    font-size: 13px;
    color: #fff;
    padding: 5px 20px;
    /* border-radius: 0px; */
    text-decoration: none;
    margin-bottom: 70px;
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 600;
}
.description h5 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 15px;
}
.description p {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.description {
    display: inline-block;
    margin-bottom: 40px;
}

.back a {
    text-decoration: none;
    font-size: 13px;
    color: #000;
    display: inline-block;
    font-weight: 500;
    margin-left: 40px;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
/*PRODUCTS INNER PAGE ENDS*/


/*WEB COLLECTION BEGINS*/

.collection-aside ul li a{
	font-weight: 400;
}
.collection-aside a.active {
    font-weight: 600;
}
.collection-thumb {
    width: 180px;
    margin-left: 30px;
    float: left;
    display: inline-block;
    margin-bottom: 30px;
}

.collection-thumb img {
    width: 100%;
    background-color: #e6e7e9;
}

.collection-video-thumb img {
	background-color: transparent;
}


/*COLLECTION VIEW PAGE*/

.collection-view img {
    width: 100%;
    background: #e6e7e9;
}

/*COLLECTION VIDEO VIEW*/
.video-tab {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin-bottom: 20px;
    border: 1px solid;
}
.video-tab img {
    width: auto;
    margin: 0px auto;
    vertical-align: middle;
    display: block;
}

/*Shopping BAG PAGE BEGINS*/
.bag-list {
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
}
.bag-item {
    display: inline-block;
    width: 100%;
    float: left;
}
.list-thumbnail img {
    float: left;
    width: 100px;
    height: auto;
    margin: 10px 40px 10px 0px;
    max-height: 120px;
    background-color: #e6e7e9;
}
.list-title {
    display: inline-block;
    width: auto;
    float: left;
    margin: 10px 0px;
}
.list-cost {
    float: right;
    margin: 10px 0px;
}
.list-title h5 {
    font-weight: bold;
    margin-bottom: 40px;
}
a.remove-btn {
    font-weight: 400;
    color: #9e9e9e;
}
.shopping-bag h5 {
    font-weight: bold;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}
.checkout-area h5 {
    display: inline-block;
    float: left;
    width: auto;
    margin: 0px;
}
.subtotal, .delivery, .total {
    display: inline-block;
    width: 100%;
}
h5.check-cost {
    float: right;
}
.checkout-area {
    width: 250px;
    float: right;
    margin-bottom: 50px
}
.total {
    margin-top: 20px;
}
.checkout-area a.purchase-btn {
    margin: 20px 0px 0px;
    font-size: 13px;
}


.product-gallery .owl-next, .product-gallery .owl-prev{outline: none}
.product-gallery .owl-next span, .product-gallery .owl-prev span {
    font-size: 30px;
    color: #000;
    outline: none;
}
.product-gallery .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #e6e7e9;
    text-decoration: none;
}

.product-gallery .item img {
	background-color: #e6e7e9;
}

.product-gallery .owl-nav img {
	width: 50px;
	padding: 0 10px;
}


/*MEDIA QUERIES*/
@media (max-width: 767px){
	.navbar-collapse ul.nav li {
	    float: left;
	    text-align: left;
	    display: contents;
	}
	.navbar-collapse {
	    color: #fff !important;
	}
	.copyright-area {
		display: none;
	}
	.shop-items .col-sm-4 {
		padding: 0px;
	}
	
	.shop-items .col-sm-4 img,
	.collection-thumb {
		width: 100%;
		height: auto; 
	}
	
	.collection-thumb  {
		margin-left: 0;
		margin-right: 0;
	}
	

}
@media(max-width: 548px){
	.home-carousel .item img {
	    width: 80%;
	}
}
@media(max-width: 1023px){
	.side-bar {
		padding: 0px;
		
	}
	
}
@media(min-width: 767px){
    .side-bar > .side-bar__content{
        position: fixed;
    }
    
    .copyright-footer-area {
	    display: none;
    }

	.footer .navbar-nav>li:first-child a {
	    padding-left: 0px;
	}
	
	.footer .nav li:nth-child(3) a {
	    padding-right: 0px;
	}
}